/* HTML, Body */
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {

}
body{
	margin: 0;
	padding: 0px;
	background-color: grey;
	width: 100%;
	min-height: 100%;
}
/* HTML, Body End */

/* Main */
.ctpadding {
	padding-top: 70px;
	padding-bottom: 50px;
	min-height: 100%
}
.box-login {
	margin-top: 5px;
	background-color: #fff;
	padding: 10px;
	color: #595959;
}
.box {
	margin-top: 5px;
	background-color: #fff;
	padding: 10px;
	color: #595959;
}
.box:hover {
	background-color: #edeaea;
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #eaeaea;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a.made-by {
	color: #b90303
}
a.made-by:hover {
	color: #b90303
}
/* Main End */

