@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

*{
	font-family: "Kumbh Sans", Geneva, sans-serif;
}

::-webkit-scrollbar {
	width: 1vw;
}
   
::-webkit-scrollbar-thumb {
	background: #02ee5a; 
	border-radius: 2vw;
}

::-webkit-scrollbar-track {
	background: #005f23;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(50, 189, 101); 
}

html, body{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #0c0c0c;
	width: 4.2rem;
	height: 100vh;
	overflow:hidden;
	z-index: 1;
}

header div{
	margin-left:-0.3rem;
}
header img{
	max-height: 2rem;
	max-width: 2rem;
}

nav a{
	align-self: center;
	text-decoration: none;
	color: white;
	padding: 1% 2%;
}

.logoHeader{
	position: fixed;
	margin-left: 0.5rem;
	max-height: 3rem;
	max-width: 3rem;
	z-index:10000;

}

 #corners {
	border-radius: 10px;
} 

.logo img {
	justify-content: end;
}

footer {
	background-color: #0c0c0c;
}

footer h5{
	font-weight: bold;
}

main{
	background-color: #111;
	display: flex;
	flex-direction: column;
	margin-left: 4.21rem;
	min-height: 100vh;
}



.pages{
	display: flex;
	margin-top: auto;
	align-items: center;
	margin-bottom: 40px;
	justify-content: center;
}

.pages a, .pages p{
	color: black;
	text-decoration: none;
	margin: 10px;
}

.comments{
	display: flex;
	flex-direction: column;
	width: 70%;
	align-self: center;
	font-size: 12px;
}

.content{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 100%;
	/*height: 40vh;*/
	background-color: #fff;
}

.content form{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.content:nth-child(2){
	align-self: flex-end;
	margin-top: auto;
}

/* summary pagina opmaak */
.summaryText{
	color: white;
	text-shadow: 5px 5px 20px #0c0c0c;
	font-size: 21px;
	max-width: 65%;
}

.summaryText a{
	color: white;
}

.summaryVideo{
	align-items:center;
}

.summaryMain{
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(8,100,0,1) 65%);
	width: 100%;
	height: 100vh;
}

.videostreamSum{
	box-shadow: -35px 5px 150px #0c0c0c;
	/* schaduw achter de video in de summary pagina */
}
/* einde summary pagina opmaak */

/* streaming pagina opmaak */
.videostream{
	height: 80%; /* om te beperken dat de video veel groter word dan de scherm zelf */
}
/* einde streaming pagina opmaak */

/* intro pagina opmaak */

.introMain{
	color:white;
	line-height: 1vh;
	min-height:95vh;
	text-shadow: 1px 1px 10px #0c0c0c;
	background: linear-gradient(0deg, rgba(2,238,90,1), rgba(0,0,0,0) 95%); /* groene achtergrond met alpha  */

}

.IntroBoxBody{
	max-width: 90vw;
	margin-left: 2.5vw;
	padding: 2vw;
	background-color: rgba(0,0,0,0.5); /* zwarte achtergrondachter de text */
	border-top: 1vh solid #02ee5a; /* groene randen rondom de text dozen */
	border-bottom: 1vh solid #02ee5a;
}
/*einde intro pagina opmaak */


.post{
	align-self: center;
	flex-direction: column;
	border-bottom: 1px solid black;
	color:#f1f1f1;
	width: 70%;
	margin: 10px 0;
}

.post a{
	text-decoration: none;
	color: #f1f1f1;
	font-size: 2em;
}

.post a:hover{
	color: #02ee5a;
}

.form-container{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
}

.form{
	display: flex;
	margin-top: 5%;
	background-color: #777;
	flex-direction: column;
	min-width: 200px;
	width: 100%;
	max-width: 800px;
	align-self: center;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
	margin-bottom: 5%;
}

.form label{
	color: #333;
}

.form input{
	margin-bottom: 2%;
}

.form input:focus{
	background-color: #c1c1c1;
	border: 1px solid #f1f1f1;
}

.form input[type=submit]{
	max-width: 170px;
}

select{
	max-width: 152px;
	margin-bottom: 2%;
}

.error{
	margin-top: 4%;
	padding: 1%;
	width: 100%;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
}

label{
	width: 100%;
}

input[type=text], input[type=password], input[type=email]{
	width: 100%;
	margin: 2% 0;
	height: 30px;
	font-size: 1.3em;
}


.producten{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-direction: column;
	align-self: center;
	text-align: left;
	color: #c1c1c1;
}

.producten td{
	width: 15vw;
	height: 7vh;
	border-bottom: 1px solid #c1c1c1;
}

.producten td:nth-last-of-type(1){
	border-right: 1px solid #c1c1c1;
}

.producten a{
	text-decoration: none;
	color: white;
}

.producten a:hover{
	color: #c4c4c4;
}

.ratings{
	display: flex;
	background-color: #777;
	flex-direction: column;
	min-width: 200px;
	width: 100%;
	max-width: 800px;
	align-self: center;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
	margin-bottom: 20px;
}

.controlPage{
	display: flex;
	justify-content: space-between;
	width: 62%;
	margin-left: 19%;
}

/*Rating*/
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}